<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>填报列表</title>
    <header th:replace="header::html"></header>

   <!-- <link rel="stylesheet" href="../static/treetable-lay/treetable.css" th:href="@{/treetable-lay/treetable.css}">
    <script type="text/javascript" src="../static/treetable-lay/treetable.js"
            th:src="@{/treetable-lay/treetable.js}"></script>-->

</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">绩效</a>
            <a>
              <cite>指标填报</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>


<div class="x-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-card-header">
                            <button type="button" class="layui-btn" id="exportExcel" permission="kpi:performance:add" onclick="exportall()">下载</button>
                        </div>

                        <table id="test3" lay-filter="test3"></table>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function exportall() {
        var url = "/performance/export";
        window.open(url);
    };

    layui.use(['table', 'laydate', 'form'], function () {
        var table = layui.table,
            laydate = layui.laydate,
            form = layui.form;

        //年月选择器
        laydate.render({
            elem: '#kaoheyuefen'
            , type: 'month'
        });
        //第一个实例
        table.render({
            elem: '#test3'
            , url: '/performance/fill' //数据接口
            //,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            //,defaultToolbar: ['filter', 'exports', 'print']
            , response: {
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , page: true //开启分页

            , cols: [
                [ //表头
                    {field: 'id', title: 'ID', width: 70, sort: true, fixed: 'left'}
                    , {field: 'kaoheyuefen', title: '月份', width: 90, sort: true}
                    , {field: 'beikaohedanwei', title: '部门分厂', width: 100}
                    , {field: 'kaohexiangmu', title: '项目', width: 150}
                    , {field: 'biaozhun', title: '标准', width: 60}
                    , {field: 'zhouqi', title: '周期', width: 50}
                    , {field: 'danwei', title: '单位', width: 50}
                    , {field: 'mubiaozhi', title: '目标值(x)', edit: true, width: 90}
                    , {field: 'shijizhi', title: '实际值(y)', edit: true, width: 90}
                    , {field: 'caozuofu', title: '运算符', edit: true, width: 110}
                    , {field: 'kaohejieguo', title: '考核结果', templet: '#resultTpl', width: 90}
                    , {field: 'kaohedanwei', title: '考核单位', hide: true}
                    , {field: 'beizhu', title: '备注', edit: true}

                ]
            ]
        });

        //监听单元格编辑
        table.on('edit(test3)', function (obj) {

            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            //layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
            $.ajax({
                url: "/performance/editField",
                type: "POST",
                data: {
                    id: data.id,
                    field: field,
                    fieldValue: value
                },
                dataType: 'json',
                success: function (result) {
                    // layer.alert("设置成功", {icon: 6,time: 500}, function () {

                    //刷新当前页面
                    //window.location.reload();
                    //刷新当前表格
                    table.reload('test3', {
                        url: '/performance/fill'
                    });

                }

            });

        });


        //监听工具条
       /* table.on('tool(member)', function (obj) {
            var data = obj.data;
            if (obj.event == 'del') {
                layer.confirm('真的删除行吗', function (index) {
                    $.ajax({
                        url: "/detailedruleResult/delete",
                        type: "GET",
                        data: {id: data.id},
                        dataType: 'json',
                        success: function (result) {
                            layer.alert("删除成功", {icon: 1}, function (index1) {
                                layer.close(index1);
                                location.reload()
                                //xadmin.father_reload();
                                //table.reload('menuTable');
                            });
                        },
                    });

                });
            } else if (obj.event === 'edit') {
                xadmin.open('编辑指标信息', '/detailedruleResult/edit/?id=' + data.id,1000,350);
            }
        });

        //专项考核填报结果
        table.render({
            elem: '#test4'
            , url: '/detailedruleResult/getResult' //数据接口
            , response: {
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                    {field: 'id', title: 'ID', width: 70}
                    , {field: 'kaoheyuefen', title: '月份', width: 100}
                    , {field: 'beikaohedanwei', title: '部门分厂', width: 100}
                    , {field: 'xiangmumingcheng', title: '考核项目', width: 150}
                    , {field: 'kaoheshiyou', title: '考核事由',width: 490}
                    , {field: 'kaohejine', title: '考核金额',templet: '#resultTplTwo', width: 120}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 140}
                ]
            ]
        });

        //监听提交
        form.on('submit(add)', function (data) {

            var kaoheyuefen = data.field.kaoheyuefen;
            data.field.beikaohedanwei=$('#department option:selected').text();
            $.ajax({
                url: "/detailedruleResult/add",
                type: "POST",
                data:data.field,
                dataType: 'json',
                success: function (result) {
                    if (result.code == 500) {
                        layer.alert(result.msg);
                    } else {
                        table.reload('test4', {
                            url: '/detailedruleResult/getResult'
                        });
                        document.getElementById("myForm").reset();
                    }

                }
            });
            return false;
        });*/
        checkPermission();
    });

</script>

<script type="text/html" id="resultTpl">
    {{#  if(d.kaohejieguo>0){ }}
    <span style="color:mediumblue;">{{ d.kaohejieguo }}</span>
    {{#  } else if((d.kaohejieguo<0)){ }}
    <span style="color:red;">{{ d.kaohejieguo }}</span>
    {{#  } else { }}
    <span style="color:#686a76;">{{ d.kaohejieguo }}</span>
    {{#  } }}
</script>


</html>