<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
    <header th:replace="header::html"></header>

    <link rel="stylesheet" href="../static/treetable-lay/treetable.css" th:href="@{/treetable-lay/treetable.css}">
    <script type="text/javascript" src="../static/treetable-lay/treetable.js" th:src="@{/treetable-lay/treetable.js}"></script>

</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">绩效</a>
            <a>
              <cite>指标填报</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>


<div class="x-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table id="test3" lay-filter="test3"></table>
                    </div>
                    <!--<div class="layui-card-body">
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit" permission="kpi:performance:edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
                               permission="kpi:performance:del">删除</a>
                        </script>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use('table', function() {
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#test3'
            , url: '/performance/fill' //数据接口
            // , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , response: {
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , page: true //开启分页
            , cols: [
                [ //表头
                    // {type: 'checkbox', fixed: 'left'}
                    {field: 'id', title: 'ID', width: 30, sort: true, fixed: 'left'}
                    ,{field:'kaoheyuefen', title: '月份',width:40, sort: true}
                    ,{field:'beikaohedanwei', title: '部门分厂'}
                    ,{field:'kaohexiangmu', title: '项目'}
                    ,{field:'biaozhun', title: '标准'}
                    ,{field:'zhouqi', title: '周期'}
                    ,{field:'danwei', title: '单位'}
                    ,{field:'mubiaozhi', title: '目标值',edit:true}
                    ,{field:'shijizhi', title: '实际值',edit:true}
                    ,{field:'caozuofu', title: '操作符',edit:true}
                    ,{field:'kaohejieguo', title: '考核结果',edit:true}
                    ,{field:'kaohedanwei', title: '考核单位',hide:true}
                    ,{field:'beizhu', title: '备注',width:150,edit:true}

                ]
            ]
        });


        //监听单元格编辑
        table.on('edit(test3)', function(obj){
            alert("判断是否进入监听");
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
            $.ajax({
                url: "/editfield",
                type: "POST",
                data: {
                    id:data.id,
                    apprField:field,
                    fieldValue:value
                },
                dataType: 'json',
                success: function (result) {
                    // layer.alert("设置成功", {icon: 6,time: 500}, function () {

                    //刷新当前页面
                    //window.location.reload();
                    //刷新当前表格
                    table.reload('test3', {
                        url: '/performance/fill'
                    });


                    // });
                }

            });

        });


        //监听工具条
        table.on('tool(test3)', function (obj) {
            var data = obj.data;
            if (obj.event == 'del') {
                layer.confirm('真的删除行吗', function (index) {
                    $.ajax({
                        url: "/performanceInit/delete",
                        type: "GET",
                        data: {id: data.id},
                        dataType: 'json',
                        success: function (result) {
                            layer.alert("删除成功", {icon: 1}, function (index1) {
                                layer.close(index1);
                                location.reload()
                                //xadmin.father_reload();
                                //table.reload('menuTable');
                            });
                        },
                    });

                });
            } else if (obj.event === 'edit') {
                xadmin.open('编辑指标信息', '/performanceInit/edit/?id=' + data.id);
            }
        });
    });

</script>

</html>