<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎：
                                <span class="x-red" id="show-username">test</span>&nbsp;&nbsp;[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    开发及更新日志
                                </div>
                                <div class="layui-card-body ">
                                    <ul class="layui-timeline">
                                       <!-- <li class="layui-timeline-item">
                                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                            <div class="layui-timeline-content layui-text">
                                                <h3 class="layui-timeline-title">2019-03-30</h3>
                                                <p>

                                                </p>
                                            </div>
                                        </li>
                                        <li class="layui-timeline-item">
                                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                            <div class="layui-timeline-content layui-text">
                                                <h3 class="layui-timeline-title">2019-03-19</h3>
                                                <p><br>
                                                    <br>
                                                    </p>
                                            </div>
                                        </li>
                                        <li class="layui-timeline-item">
                                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                            <div class="layui-timeline-content layui-text">
                                                <h3 class="layui-timeline-title">2019-03-07</h3>
                                                <p>

                                                </p>
                                            </div>
                                        </li>
                                        <li class="layui-timeline-item">
                                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                            <div class="layui-timeline-content layui-text">
                                                <h3 class="layui-timeline-title">2019-03-07</h3>
                                                <p>

                                                </p>
                                            </div>
                                        </li>-->
                                        <li class="layui-timeline-item">
                                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                            <div class="layui-timeline-content layui-text">
                                                <h3 class="layui-timeline-title">2019-10-17</h3>
                                                <p>
                                                    引入项目框架<br>
                                                    根据rbac控制模型进行权限控制<br>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>系统版本</th>
                                        <td>1.0.1</td></tr>
                                    <tr>
                                        <th>服务器地址</th>
                                        <td>198.168.153.1</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>WINNT</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>Apache tomcat9.0.27</td></tr>
                                    <tr>
                                        <th>java版本</th>
                                        <td>1.8</td>
                                    </tr>
                                        <th>MYSQL版本</th>
                                        <td>5.5.62</td></tr>
                                    <tr>
                                        <th>springboot版本</th>
                                        <td>2.2.0</td></tr>
                                    <tr>
                                        <th>druid版本</th>
                                        <td>1.1.17</td></tr>
                                    <tr>
                                        <th>layui版本</th>
                                        <td>2.4.5</td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">道阻且长，行则将至。</blockquote></div>
            </div>
        </div>
        </div>
    </body>
</html>
<script>
    $(document).ready(function () {
        var username = localStorage.username;
        $("#show-username").text((username != null && username != undefined) ? username : "---");
    });
</script>